* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
.main-wrap {
  text-align: center;
}
.main-wrap button {
}

.bg-black {
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.bg-white {
  width: 70%;
  height: 80%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.bg-white .my-3 {
  text-align: center;
  min-width: 400px;
}
.bg-white input {
  width: 100%;
}
.bg-white label {
  margin-bottom: 10px;
}

.show {
  visibility: visible;
  opacity: 1;
}
